<footer class="py-3 px-10 flex items-center   w-full justify-center z-30 text-white">
    <nav>
        <ul class="flex  text-black text-sm [&>li>a]:white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded">
            <li><a class="hover:bg-gray-100" href="#">Tesla © 2024</a></li>
            <li><a class="hover:bg-gray-100" href="#">Privacy & Legal</a></li>
            <li><a class="hover:bg-gray-100" href="#">Vehicle Recalls</a></li>
            <li><a class="hover:bg-gray-100" href="#">Contact</a></li>
            <li><a class="hover:bg-gray-100" href="#">News</a></li>
            <li><a class="hover:bg-gray-100" href="#">Get Updates</a></li>
            <li><a class="hover:bg-gray-100" href="#">Locations</a></li>

        </ul>
    </nav>
</footer>