<section class=" bg-black h-screen w-screen text-center  overflow-hidden  relative">
			
    <div class="z-30 relative h-full flex flex-col">
        <header >
            <h2 class="text-black pt-40 text-4xl font-medium">PowerWall</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conduccion</p>
        </header>

        <footer class=" flex flex-grow  justify-end flex-col pb-20">
            <div class="flex gap-x-4 mx-auto">
                <a  class="bg-gray-600 border-gray-600 text-white border-[3px] text-sm rounded font-medium px-12 py-2 inline-block hover:bg-gray-500 hover:text-white transition-colors hover:border-gray-500" href="#">Explorar inventario</a>
                <a  class="bg-white text-black  text-sm rounded font-medium px-12 py-2  hover:bg-black hover:text-white transition-colors inline-flex justify-center" href="#">Pedido persolanizado</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="../../public/roof.jpg" 
        alt=""
        class=" h-full w-full object-cover object-center"
        />
    </div>

</section>